<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <!-- 雪花算法id -->
    <bean id="snowFlakeService"
          class="com.zjy.bll.service.SnowFlakeServiceImpl">
        <property name="workerId" value="${workerId}"/>
        <property name="dataCenterId" value="${dataCenterId}"/>
    </bean>
</beans>