.a{color:#5a8deb;}
.a{color:#3dbb66;}
.a{color:#ffa938;}
.a{color:#ec6d4e;}
.a{color:#8a7bd4;}
.a{color:#3aa1ff;}
.a{color:#7dc0ff;}
.a{color:#5ddfcf;}
.a{color:#67e0e3;}
.a{color:#84e0a0;}

.a{color:#a9ea74;}
.a{color:#ff9f7f;}
.a{color:#eaa674;}
.a{color:#70b986;}
.a{color:#435188;}
.a{color:#889bea;}
.a{color:#975fe5;}
.a{color:#b58bf0;}
.a{color:#749fea;}
.a{color:#36cbcb;}

.a{color:#85e5e5;}
.a{color:#74b1ea;}
.a{color:#5254cf;}
.a{color:#9395ff;}
.a{color:#e294ea;}
.a{color:#f2637b;}
.a{color:#ff8e93;}
.a{color:#dba7df;}
.a{color:#94e980;}
.a{color:#6f96f7;}

.a{color:#ffa777;}
.a{color:#ff70d5;}
.a{color:#6de5cc;}
.a{color:#54ccf8;}
.a{color:#9d86ff;}
.a{color:#d973ff;}
.a{color:#ffe26f;}
.a{color:#e062ae;}
.a{color:#9fe6b8;}
.a{color:#32c5e9;}
