/* web安全色，web配色表 */
.a{color:#5a8deb;}
.a{color:#3dbb66;}
.a{color:#ffa938;}
.a{color:#ec6d4e;}
.a{color:#8a7bd4;}
.a{color:#3aa1ff;}
.a{color:#7dc0ff;}
.a{color:#5ddfcf;}
.a{color:#67e0e3;}
.a{color:#84e0a0;}

.a{color:#a9ea74;}
.a{color:#ff9f7f;}
.a{color:#eaa674;}
.a{color:#70b986;}
.a{color:#435188;}
.a{color:#889bea;}
.a{color:#975fe5;}
.a{color:#b58bf0;}
.a{color:#749fea;}
.a{color:#36cbcb;}

.a{color:#85e5e5;}
.a{color:#74b1ea;}
.a{color:#5254cf;}
.a{color:#9395ff;}
.a{color:#e294ea;}
.a{color:#f2637b;}
.a{color:#ff8e93;}
.a{color:#dba7df;}
.a{color:#94e980;}
.a{color:#6f96f7;}

.a{color:#ffa777;}
.a{color:#ff70d5;}
.a{color:#6de5cc;}
.a{color:#54ccf8;}
.a{color:#9d86ff;}
.a{color:#d973ff;}
.a{color:#ffe26f;}
.a{color:#e062ae;}
.a{color:#9fe6b8;}
.a{color:#32c5e9;}

.blue{color: #007bff;}
.indigo{color: #6610f2;}
.purple{color: #6f42c1;}
.pink{color: #e83e8c;}
.red{color: #dc3545;}
.orange{color: #fd7e14;}
.yellow{color: #ffc107;}
.green{color: #28a745;}
.teal{color: #20c997;}
.cyan{color: #17a2b8;}
.white{color: #fff;}
.gray{color: #6c757d;}
.gray-dark{color: #343a40;}
.primary{color: #007bff;}
.secondary{color: #6c757d;}
.success{color: #28a745;}
.info{color: #17a2b8;}
.warning{color: #ffc107;}
.danger{color: #dc3545;}
.light{color: #f8f9fa;}
.dark{color: #343a40;}

.a{color:#27c24c;}
.a{color:#fad733;}
.a{color:#f05050;}

.a{color:#FFFFFF;}
.a{color:#FF0000;}
.a{color:#00FF00;}
.a{color:#0000FF;}
.a{color:#FF00FF;}
.a{color:#00FFFF;}
.a{color:#FFFF00;}
.a{color:#000000;}
.a{color:#70DB93;}
.a{color:#5C3317;}

.a{color:#9F5F9F;}
.a{color:#B5A642;}
.a{color:#D9D919;}
.a{color:#A67D3D;}
.a{color:#8C7853;}
.a{color:#A67D3D;}
.a{color:#5F9F9F;}
.a{color:#D98719;}
.a{color:#B87333;}
.a{color:#FF7F00;}

.a{color:#42426F;}
.a{color:#5C4033;}
.a{color:#2F4F2F;}
.a{color:#4A766E;}
.a{color:#4F4F2F;}
.a{color:#9932CD;}
.a{color:#871F78;}
.a{color:#6B238E;}
.a{color:#2F4F4F;}
.a{color:#97694F;}

.a{color:#7093DB;}
.a{color:#855E42;}
.a{color:#545454;}
.a{color:#856363;}
.a{color:#D19275;}
.a{color:#8E2323;}
.a{color:#238E23;}
.a{color:#CD7F32;}
.a{color:#DBDB70;}

.a{color:#C0C0C0;}
.a{color:#527F76;}
.a{color:#93DB70;}
.a{color:#215E21;}
.a{color:#4E2F2F;}
.a{color:#9F9F5F;}
.a{color:#C0D9D9;}
.a{color:#A8A8A8;}
.a{color:#8F8FBD;}

.a{color:#E9C2A6;}
.a{color:#32CD32;}
.a{color:#E47833;}
.a{color:#8E236B;}
.a{color:#32CD99;}
.a{color:#3232CD;}
.a{color:#6B8E23;}
.a{color:#EAEAAE;}
.a{color:#9370DB;}
.a{color:#426F42;}
.a{color:#7F00FF;}
.a{color:#7FFF00;}
.a{color:#70DBDB;}

.a{color:#DB7093;}
.a{color:#A68064;}
.a{color:#2F2F4F;}
.a{color:#23238E;}
.a{color:#4D4DFF;}
.a{color:#FF6EC7;}
.a{color:#00009C;}
.a{color:#EBC79E;}
.a{color:#CFB53B;}

.a{color:#FF7F00;}
.a{color:#FF2400;}
.a{color:#DB70DB;}
.a{color:#8FBC8F;}
.a{color:#BC8F8F;}
.a{color:#EAADEA;}
.a{color:#D9D9F3;}
.a{color:#5959AB;}
.a{color:#6F4242;}
.a{color:#BC1717;}

.a{color:#238E68;}
.a{color:#6B4226;}
.a{color:#8E6B23;}
.a{color:#E6E8FA;}
.a{color:#3299CC;}
.a{color:#007FFF;}
.a{color:#FF1CAE;}
.a{color:#00FF7F;}
.a{color:#236B8E;}
.a{color:#38B0DE;}

.a{color:#DB9370;}
.a{color:#D8BFD8;}
.a{color:#ADEAEA;}
.a{color:#5C4033;}
.a{color:#CDCDCD;}
.a{color:#4F2F4F;}
.a{color:#CC3299;}
.a{color:#D8D8BF;}