<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
    <appenders>
        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="File" fileName="${web:rootDir}logs\app.log"
              filePattern="$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </File>
        <RollingFile name="RollingFile" fileName="${web:rootDir}logs\r_log.log"
                     filePattern="${web:rootDir}logs\r_log_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="51200 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="consolePrint" />
            <!--<appender-ref ref="File" />-->
            <appender-ref ref="RollingFile" />
        </root>
        <!-- 将业务dao接口填写进去,并用控制台输出即可 -->
        <logger name="com.zjy.bll.dao" level="DEBUG" additivity="false">
            <appender-ref ref="consolePrint"/>
        </logger>
        <logger name="com.zjy.baseframework" level="DEBUG" additivity="false">
            <appender-ref ref="consolePrint"/>
        </logger>
    </loggers>
</configuration>