<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.bll.dao.cashManagement.BorrowDao">
    <insert id="add" parameterType="Borrow">
        INSERT INTO Borrow([Amount], [Borrower], [BorrowTime], [CreatedBy], [CreatedOn], [Id], [Loaner], [Memo], [ModifiedBy],
                [ModifiedOn], [Status], [Title], [Type])
        VALUES(#{userGuid, jdbcType=VARCHAR}, #{userCode, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR},
                #{password, jdbcType=VARCHAR}, #{sex, jdbcType=BIT}, #{birthday, jdbcType=TIMESTAMP}, #{isSystem, jdbcType=BIT})
    </insert>

    <select id="get" parameterType="String" resultType="Borrow">
        SELECT TOP 1 [Amount], [Borrower], [BorrowTime], [CreatedBy], [CreatedOn], [Id], [Loaner], [Memo], [ModifiedBy],
               [ModifiedOn], [Status], [Title], [Type]
          FROM Borrow
         WHERE Id = #{id, jdbcType = VARCHAR}
    </select>

    <insert id="delete" parameterType="String">
        DELETE FROM Borrow WHERE Id = #{id, jdbcType=VARCHAR}
    </insert>

    <select id="query" resultType="Borrow">
        SELECT [Amount], [Borrower], [BorrowTime], [CreatedBy], [CreatedOn], [Id], [Loaner], [Memo], [ModifiedBy],
                [ModifiedOn], [Status], [Title], [Type]
          FROM Borrow
         WHERE 1 = 1
    </select>
    <select id="queryPage" resultType="Borrow">
        SELECT [Amount], [Borrower], [BorrowTime], [CreatedBy], [CreatedOn], [Id], [Loaner], [Memo], [ModifiedBy],
                [ModifiedOn], [Status], [Title], [Type]
          FROM Borrow
         WHERE 2 = 2
    </select>
</mapper>