<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.bll.dao.cashManagement.RepaymentDao">
    <insert id="add" parameterType="Repayment">
        INSERT INTO Repayment([CreatedBy], [CreatedOn], [Id], [Memo], [ModifiedBy], [ModifiedOn], [Payer], [Payment],
               [RelativeItem], [Status], [Title])
        VALUES(#{userGuid, jdbcType=VARCHAR}, #{userCode, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR},
               #{password, jdbcType=VARCHAR}, #{sex, jdbcType=BIT}, #{birthday, jdbcType=TIMESTAMP}, #{isSystem, jdbcType=BIT})
    </insert>

    <select id="get" parameterType="String" resultType="Repayment">
        SELECT TOP 1 [CreatedBy], [CreatedOn], [Id], [Memo], [ModifiedBy], [ModifiedOn], [Payer], [Payment], [RelativeItem],
                [Status], [Title]
          FROM Repayment
         WHERE Id = #{id, jdbcType = VARCHAR}
    </select>

    <insert id="delete" parameterType="String">
        DELETE FROM Repayment WHERE Id = #{id, jdbcType=VARCHAR}
    </insert>

    <select id="query" resultType="Repayment">
        SELECT [CreatedBy], [CreatedOn], [Id], [Memo], [ModifiedBy], [ModifiedOn], [Payer], [Payment], [RelativeItem],
                [Status], [Title]
          FROM Repayment
         WHERE 1 = 1
    </select>
    <select id="queryPage" resultType="Repayment">
        SELECT [CreatedBy], [CreatedOn], [Id], [Memo], [ModifiedBy], [ModifiedOn], [Payer], [Payment], [RelativeItem],
                [Status], [Title]
          FROM Repayment
         WHERE 2 = 2
    </select>
</mapper>