<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.bll.dao.cashManagement.ShareCashDao">
    <insert id="add" parameterType="ShareCash">
        INSERT INTO ShareCash([Amount], [CreatedBy], [CreatedOn], [Handler], [HandlerTime], [Id], [Memo], [ModifiedBy],
                [ModifiedOn], [Status], [Title], [Type])
        VALUES(#{userGuid, jdbcType=VARCHAR}, #{userCode, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR},
               #{password, jdbcType=VARCHAR}, #{sex, jdbcType=BIT}, #{birthday, jdbcType=TIMESTAMP}, #{isSystem, jdbcType=BIT})
    </insert>

    <select id="get" parameterType="String" resultType="ShareCash">
        SELECT TOP 1 [Amount], [CreatedBy], [CreatedOn], [Handler], [HandlerTime], [Id], [Memo], [ModifiedBy], [ModifiedOn],
                [Status], [Title], [Type]
          FROM ShareCash
         WHERE Id = #{id, jdbcType = VARCHAR}
    </select>

    <insert id="delete" parameterType="String">
        DELETE FROM ShareCash WHERE Id = #{id, jdbcType=VARCHAR}
    </insert>

    <select id="query" resultType="ShareCash">
        SELECT [Amount], [CreatedBy], [CreatedOn], [Handler], [HandlerTime], [Id], [Memo], [ModifiedBy], [ModifiedOn],
                [Status], [Title], [Type]
          FROM ShareCash
         WHERE 1 = 1
    </select>
    <select id="queryPage" resultType="ShareCash">
        SELECT [Amount], [CreatedBy], [CreatedOn], [Handler], [HandlerTime], [Id], [Memo], [ModifiedBy], [ModifiedOn],
                [Status], [Title], [Type]
          FROM ShareCash
         WHERE 2 = 2
    </select>
</mapper>