<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.bll.dao.UserInfoDao">
    <insert id="add" parameterType="UserInfo">
		INSERT INTO userinfo(UserGuid, UserCode, UserName, [Password], Sex, Birthday, IsSystem)
		VALUES(#{userGuid, jdbcType=VARCHAR}, #{userCode, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR},
		#{sex, jdbcType=BIT}, #{birthday, jdbcType=TIMESTAMP}, #{isSystem, jdbcType=BIT})
	</insert>

	<select id="get" parameterType="String" resultType="com.zjy.entities.UserInfo">
		SELECT userguid,userName,userCode,password FROM UserInfo WHERE Id = #{id, jdbcType = VARCHAR}
	</select>

	<select id="getByUserCode" parameterType="String" resultType="com.zjy.entities.UserInfo">
		SELECT userguid,userName,userCode,password FROM UserInfo WHERE userCode = #{userCode, jdbcType = VARCHAR}
	</select>

    <insert id="delete" parameterType="String">
		DELETE FROM userinfo WHERE UserGuid = #{id, jdbcType=VARCHAR}
	</insert>

    <select id="query" resultType="com.zjy.entities.UserInfo">
		SELECT userguid,userName,userCode,[password] FROM UserInfo
		 WHERE 1 = 1
	</select>
    <select id="queryPage" resultType="com.zjy.entities.UserInfo">
		SELECT userguid,userName,userCode,[password] FROM UserInfo
		WHERE 2 = 2
	</select>
    <select id="test" resultType="com.zjy.entities.UserInfo">
		SELECT userguid,userName,userCode,[password] FROM UserInfo
		WHERE 'a' = #{a}
		  AND 'b' = #{b.userCode}
	</select>
</mapper>